* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    color: #070707;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    > h1 {
        margin: 32px 0;
        color: #070707;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
    }

    > a {
        margin-top: 32px;
        padding: 12px 24px;
        border: solid 1px #aaa;
        border-radius: 40px;
        color: #aaa;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        transition: .5s;

        &:hover {
            border-color: #070707;
            color: #070707;
        }
    }

    > button {
        margin-top: 24px;
        padding: 8px 12px;
        background: #fff;
        border: solid 1px #aaa;
        border-radius: 32px;
        color: #aaa;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        transition: .5s;
        cursor: pointer;

        &:hover {
            border-color: #070707;
            color: #070707;
        }
    }
}
